<!DOCTYPE html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />

    <title>ToolKit</title>
    <style>
        body {
            background: #ddd;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h2">Map TookKit</span>
        Server Uptime: {{upTime}}
    </nav>
    <br />
    <div class="container-fluid" id="body">
        <div class="row">
            <div class="col-5">
                <div class="card">
                    <div class="card-header">
                        Database
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            host: {{database.host}} <br />
                            port: {{database.port}}<br />
                            db: {{database.database}}<br />
                            user: {{database.user}}<br />
                            pwd: {{database.password}}<br />
                            connection: {{database.connection}}<br />
                        </div>
                    </div>
                </div>
                <br />

                <div class="card">
                    <div class="card-header">
                        Initialize
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            {{#with initialization}}

                            {{#if tableCreated}}
                            <s> 1. Create Table</s>
                            {{else}}
                            1. Create Table
                            <button class="btn btn-sm btn-link" onClick="createTable()">
                                Do it</button>
                            {{/if}}
                            <br />

                            {{#if chinaBoundaryImported}}
                            <s> 2. Import China Boundary</s>
                            {{else}}
                            2. Import China Boundary
                            <button class="btn btn-sm btn-link" onClick="importChinaBundary()"> Do it </button>
                            {{/if}}
                            <br />

                            {{#if scenicPointsImported}}
                            <s>3. Import Scenic Points</s>
                            {{else}}
                            3. Import Scenic Points
                            <button class="btn btn-sm btn-link" onClick="importScenicPoints()"> Do it </button>
                            {{/if}}

                            {{/with}}

                            <br />
                            <button class="btn btn-sm btn-danger" onClick="reset()">RESET</button>
                        </div>
                    </div>
                </div>

                <br />

                <div class="card">
                    <div class="card-header">
                        /aggragate
                    </div>
                    <div class="card-body">
                        <div class="card-title">
                        </div>
                        <div class="card-text">
                            <textarea class="form-control" id="f1" rows="2">
{
    "points": [
    { "lat": 30, "lng": 120 },
    { "lat": 31, "lng": 121 },
    { "lat": 26, "lng": 120 }
    ],
    "distance": 10000,
    "pageSize": 4
}
                            </textarea>
                            <br />
                            <button class="btn btn-info" onClick="Q1()">Go</button>
                        </div>
                            <br />
                        <div class="card-text">
                            <pre id="r2"></pre>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col">

                <div class="card">
                    <div class="card-header">
                        Demonstrate
                    </div>
                    <div class="card-body">
                        <div id="map" style="height: 600px"></div>
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            <pre id="r1"></pre>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        crossorigin="anonymous"></script>

    <script type="text/javascript"
        src="http://api.map.baidu.com/api?v=3.0&ak=81q24MYtnavoX6o0zVZT0xowLXDmYvb7"></script>

    <!-- Optional JavaScript -->
    <script src="static/toolkit.js"></script>
</body>